{% extends 'bank_app/base.html' %}

{% block content %}
<!-- <form action="/login" method="post">
    <label for="user_name">User : </label>
    <input id="user_name" type="text" name="user_name">
    <br>
    <label for="user_password">Password : </label>
    <input id="user_password" type="password" name="user_password">
    <input type="submit" value="OK">
</form> -->
<main class="form-signin">
 
  <form action="/login/" method="post">
  {% csrf_token %}
    <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
      <label for="floatingInput">User name</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
</main>
{% endblock %}